{% extends 'core/base.html' %}

{% block title %}Change password | {% endblock %}

{% block content %}
    <form method="post" action=".">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <div class="field">
            <div class="control">
                <button class="btn btn-dark is-uppercase" type="submit">Change password</button>
            </div>
        </div>
    </form>
    <a class="btn btn-secondary is-uppercase" href="{% url 'frontpage' %}">Back to homepage</a>
{% endblock %}