{% extends 'core/base.html' %}

{% block title %}Edit costumer | {% endblock %}

{% block content %}
    <h1 class="title fw-light">Edit your costumer name</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="field">
            <label>Costumer name</label>
            <div class="control">
                <input type="text" name="name" id="id_name" value="{{ costumer.name }}" class="input">
            </div>
            <p class="help">It is not the same as you username! Edit it only if you want it to be different from your
                username</p>
        </div>
        <div class="field">
            <div class="control">
                <button class="btn btn-dark is-uppercase">Save changes</button>
            </div>
        </div>
    </form>
{% endblock %}